.whole-form {
    background: #eceeee;
    border: 1px solid #42464b;
    border-radius: 6px;
    margin: 20px auto 0;
}
.whole-form h1 {
    background-image: linear-gradient(top, #f1f3f3, #d4dae0);
    border-bottom: 1px solid #a6abaf;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    color: #727678;
    display: block;
    height: 43px;
    font: 600 20px/1 "Open Sans", sans-serif;
    padding-top: 14px;
    margin: 0;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 #fff;
}
.version {
    color: #657b83; /* Solarized base00 */
    height: 35px;
    font: 400 14px/1 "Open Sans", sans-serif;
    margin-right: 10em;
    text-align: right;
}
